/*Standard style for all html pages*/

body {
    font-family: arial, sans-serif;
  }
  .logo {
    width:528px;
    height:128px;
  }
  .search_button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  div.menu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    /*width: 100%, position: relative?*/
  }
  .menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  div.menu a:hover, .active {
    background-color: #777;
  }
  .dropdown {
  /* position: relative;*/
    display: inline-block;
  }
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropbtn {
    background-color: #777;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Coronavirus section  */

  .corona {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
    background-color:#FFB6C1;
    color: #00008B;
  }
  #coronavaksine {
    padding-left: 40px;  /*add some spaces between links*/
  }
  div.main-index, #om {
    text-align: center;
  }
  .main-container, .container, .main-english {
    display: inline-block; /*all elements of same div in same line*/
    width: 100%;
  }
  .photo {
    /*width: 100%; image in fullscreen*/
    width: 60%;
    float: left;
  }
  #telephone{
    text-align: center;
    background-image: url("telefon.jpg");
    background-repeat: no-repeat;
    /*background-position: right top;*/
    width: 40%;
    float: right;
  }
  .photo, #telephone {
    height:200px;
    object-fit: cover;
  }
  .animationJS{
    text-align: center;
    width:200px;
    margin-left: auto;
    margin-right: auto;/*margin auto left and rigth to centralize element*/
    padding-top: 40px;
    }

  /* Container section */

  .link-section{
    width: 60%; 
    float: left;
    height: 300px;
    background-color:  #f0f7fe;
  }
  .linkene a{
    text-decoration: none;
    color: black;
  }
  table.linkene {
   padding-top: 20px; 
   margin-left: 20px; 
  }
  table.linkene th, table.linkene td{
    width: 20%;
  }
  table.linkene th{
    text-decoration: none;
    color: black;
    text-align: left;
    height: 20px;
  }
  table.linkene td a{
    text-align:center;
    color: darkslateblue;
    margin: 30px; 
  }
  #sosial-media{
    width: 40%;
    float: right;
    text-align: center;
    background-color:#c3e1fe;
    height:300px;
  }
  .tjeneste {
    text-decoration: none;
    color: darkslateblue;
    text-align: left;
  }
  .main, ul {
    margin: 85px; 
    list-style-type: circle;
  }
  ul{
    line-height: 1.8; /*space between line*/
  }
  #innhold { 
    white-space: pre; /*show the text exactly how this is by html with break*/
    line-height: 1.8;
  }
  .nødtelefoner {
    white-space: pre; 
    line-height: 1.8;
  }

/* Style for table in main section of om.html */

  .main table {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    /* width: 100%; */
    }
  .main td, .main th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
  .main tr:nth-child(even) {
    background-color: #dddddd;
    }
  .photo-samnanger{
    width:528px;
    height:258px;
    margin-left: auto; 
    margin-right: auto;
    }

/* icon envelop and telefon in kontakt.html*/
   .far {
    font-size:24px
   }
   .fas {
    font-size:24px
   }

/* English style */

  .information-english{
    width: 60%; 
    float: left;
    height: 520px;
    background-color:  #f0f7fe;
  }
  .information-english h2, .information-english p{
    text-align: center;
  } 
  .information-english h4 {
    margin: 40px; 
  }

  .information-english ul{
    margin: 40px;
    line-height:inherit; /*space between line*/
    white-space:nowrap;
  }
/*Standard footer-style for all html pages*/

  footer {
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: black;
  }
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; /*around image*/
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-map, .fa-map-marker-alt  {
    background:lavender;
    color: #125688;
  }
  .fa-map-marker-alt  {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; /*around image*/
  }
  
  .fa:hover, .fas:hover {
      opacity: 0.7;
  }


  
 